# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS files
.DS_Store
Thumbs.db

# Build & Dist
dist/
dist-ssr/
build/

# Env files (보안 유지 필수)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.sw?